# global dependencies
node_modules/

# env (global safety)
.env
.env.*

# system
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/

.DB_Store
docker-compose.override.yml
docker-compose.dev.yml  
docker-compose.yml